In [1]:
import requests

import pandas as pd


df = pd.read_excel('location.xlsx')

In [2]:

from datetime import date, datetime, timedelta

def datespan(startDate, endDate, delta=timedelta(days=1)):
    currentDate = startDate
    while currentDate < endDate:
        yield currentDate
        currentDate += delta
        
all_results = []  
def get_data():
    all_results = []
    for day in datespan(date(2007, 3, 30), date(2007, 7, 1),delta=timedelta(days=1)):
#         print(day)
        
        for name, lat, long in df[['Name', 'Latitude', 'Longitude']].values:
            url = f"https://api.sunrisesunset.io/json?lat={lat}&lng={long}&timezone=UTC&date={day}"
            try:
                r = requests.get(url)
                result_dict = r.json()['results']
                result_dict['date'] = day
                result_dict['name'] = name
                all_results.append(result_dict)
            except Exception as e:
                print(f"Day: {day}... Error: {e}")
                pass
    data = pd.json_normalize(all_results)
    data = data[['name', 'date', 'dawn', 'dusk', 'sunrise', 'sunset']]
    
    return data

In [3]:
data = get_data()

Day: 2007-04-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-04-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-04-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-04-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-04-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-04-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-01... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-02... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-03... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-04... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-05... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-06... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-07... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-08... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-09... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-10... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-11... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-12... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-13... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-14... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-15... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-16... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-17... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-18... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-19... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-19... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-20... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-20... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-21... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-21... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-22... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-22... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-31... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-31... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-31... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-05-31... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-01... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-01... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-01... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-01... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-02... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-02... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-02... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-02... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-03... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-03... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-03... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-03... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-04... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-04... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-04... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-04... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-05... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-05... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-05... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-05... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-06... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-06... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-06... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-06... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-07... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-07... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-07... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-07... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-08... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-08... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-08... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-08... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-09... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-09... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-09... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-09... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-10... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-10... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-10... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-10... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-11... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-11... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-11... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-11... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-12... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-12... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-12... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-12... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-13... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-13... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-13... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-13... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-14... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-14... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-14... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-14... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-14... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-15... Error: Expecting value: line 1 column 1 (char 0)

Day: 2007-06-15... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-15... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-15... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-15... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-16... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-16... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-16... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-16... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-16... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-17... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-17... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-17... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-17... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-17... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-18... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-18... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-18... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-18... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-18... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-19... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-19... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-19... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-19... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-19... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-20... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-20... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-20... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-20... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-20... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-21... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-21... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-21... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-21... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-21... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-22... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-22... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-22... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-22... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-22... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-23... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-24... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-25... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-26... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-27... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-28... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-29... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-30... Error: Expecting value: line 1 column 1 (char 0)
Day: 2007-06-30... Error: Expecting value: line 1 column 1 (char 0)

In [4]:
# data = pd.json_normalize(all_results)
data.shape

(730, 6)

In [5]:
data

,name,date,dawn,dusk,sunrise,sunset
0,"Tallin, Estonia",2007-03-30,3:16:37 AM,5:37:29 PM,3:58:16 AM,4:55:50 PM
1,"Honolulu, Hawaii",2007-03-30,4:06:04 PM,5:08:36 AM,4:28:20 PM,4:46:20 AM
2,"Brussels, Belgium",2007-03-30,4:53:56 AM,6:43:20 PM,5:27:09 AM,6:10:07 PM
3,"Barcelona, Spain",2007-03-30,5:13:29 AM,6:41:12 PM,5:41:17 AM,6:13:25 PM
4,"Rome, Italy",2007-03-30,4:31:46 AM,6:00:22 PM,4:59:47 AM,5:32:21 PM
...,...,...,...,...,...,...
725,"Honolulu, Hawaii",2007-06-30,3:28:48 PM,5:43:22 AM,3:53:36 PM,5:18:34 AM
726,"Barcelona, Spain",2007-06-30,3:47:51 AM,8:03:54 PM,4:21:41 AM,7:30:04 PM
727,"Rome, Italy",2007-06-30,3:04:19 AM,7:24:50 PM,3:38:36 AM,6:50:33 PM
728,"New york, USA",2007-06-30,8:55:27 AM,1:05:48 AM,9:28:45 AM,12:32:30 AM
729,"Lagos, Nigeria",2007-06-30,5:13:23 AM,6:28:43 PM,5:36:08 AM,6:05:58 PM

In [19]:
data[data.name == "Honolulu, Hawaii"]

,name,date,dawn,dusk,sunrise,sunset
1,"Honolulu, Hawaii",2007-03-30,5:43:22 AM,3:28:48 PM,4:28:20 PM,4:46:20 AM
11,"Honolulu, Hawaii",2007-03-31,5:43:22 AM,3:28:48 PM,4:27:25 PM,4:46:38 AM
21,"Honolulu, Hawaii",2007-04-01,5:43:22 AM,3:28:48 PM,4:26:30 PM,4:46:56 AM
31,"Honolulu, Hawaii",2007-04-02,5:43:22 AM,3:28:48 PM,4:25:35 PM,4:47:14 AM
41,"Honolulu, Hawaii",2007-04-03,5:43:22 AM,3:28:48 PM,4:24:40 PM,4:47:32 AM
51,"Honolulu, Hawaii",2007-04-04,5:43:22 AM,3:28:48 PM,4:23:46 PM,4:47:50 AM
61,"Honolulu, Hawaii",2007-04-05,5:43:22 AM,3:28:48 PM,4:22:51 PM,4:48:08 AM
71,"Honolulu, Hawaii",2007-04-06,5:43:22 AM,3:28:48 PM,4:21:57 PM,4:48:27 AM
81,"Honolulu, Hawaii",2007-04-07,5:43:22 AM,3:28:48 PM,4:21:04 PM,4:48:45 AM
91,"Honolulu, Hawaii",2007-04-08,5:43:22 AM,3:28:48 PM,4:20:11 PM,4:49:04 AM
101,"Honolulu, Hawaii",2007-04-09,5:43:22 AM,3:28:48 PM,4:19:18 PM,4:49:23 AM
111,"Honolulu, Hawaii",2007-04-10,5:43:22 AM,3:28:48 PM,4:18:25 PM,4:49:42 AM
121,"Honolulu, Hawaii",2007-04-11,5:43:22 AM,3:28:48 PM,4:17:33 PM,4:50:01 AM
131,"Honolulu, Hawaii",2007-04-12,5:43:22 AM,3:28:48 PM,4:16:42 PM,4:50:21 AM
141,"Honolulu, Hawaii",2007-04-13,5:43:22 AM,3:28:48 PM,4:15:51 PM,4:50:41 AM
151,"Honolulu, Hawaii",2007-04-14,5:43:22 AM,3:28:48 PM,4:15:01 PM,4:51:00 AM
161,"Honolulu, Hawaii",2007-04-15,5:43:22 AM,3:28:48 PM,4:14:11 PM,4:51:21 AM
171,"Honolulu, Hawaii",2007-04-16,5:43:22 AM,3:28:48 PM,4:13:21 PM,4:51:41 AM
181,"Honolulu, Hawaii",2007-04-17,5:43:22 AM,3:28:48 PM,4:12:33 PM,4:52:01 AM
191,"Honolulu, Hawaii",2007-04-18,5:43:22 AM,3:28:48 PM,4:11:44 PM,4:52:22 AM
201,"Honolulu, Hawaii",2007-04-19,5:43:22 AM,3:28:48 PM,4:10:57 PM,4:52:43 AM
211,"Honolulu, Hawaii",2007-04-20,5:43:22 AM,3:28:48 PM,4:10:10 PM,4:53:05 AM
221,"Honolulu, Hawaii",2007-04-21,5:43:22 AM,3:28:48 PM,4:09:24 PM,4:53:26 AM
231,"Honolulu, Hawaii",2007-04-22,5:43:22 AM,3:28:48 PM,4:08:38 PM,4:53:48 AM
241,"Honolulu, Hawaii",2007-04-23,5:43:22 AM,3:28:48 PM,4:07:53 PM,4:54:10 AM
251,"Honolulu, Hawaii",2007-04-24,5:43:22 AM,3:28:48 PM,4:07:09 PM,4:54:33 AM
260,"Honolulu, Hawaii",2007-04-25,5:43:22 AM,3:28:48 PM,4:06:26 PM,4:54:55 AM
269,"Honolulu, Hawaii",2007-04-26,5:43:22 AM,3:28:48 PM,4:05:44 PM,4:55:18 AM
278,"Honolulu, Hawaii",2007-04-27,5:43:22 AM,3:28:48 PM,4:05:02 PM,4:55:41 AM
287,"Honolulu, Hawaii",2007-04-28,5:43:22 AM,3:28:48 PM,4:04:21 PM,4:56:05 AM
296,"Honolulu, Hawaii",2007-04-29,5:43:22 AM,3:28:48 PM,4:03:41 PM,4:56:29 AM
305,"Honolulu, Hawaii",2007-04-30,5:43:22 AM,3:28:48 PM,4:03:01 PM,4:56:53 AM
314,"Honolulu, Hawaii",2007-05-01,5:43:22 AM,3:28:48 PM,4:02:23 PM,4:57:17 AM
323,"Honolulu, Hawaii",2007-05-02,5:43:22 AM,3:28:48 PM,4:01:45 PM,4:57:41 AM
332,"Honolulu, Hawaii",2007-05-03,5:43:22 AM,3:28:48 PM,4:01:09 PM,4:58:06 AM
341,"Honolulu, Hawaii",2007-05-04,5:43:22 AM,3:28:48 PM,4:00:33 PM,4:58:31 AM
350,"Honolulu, Hawaii",2007-05-05,5:43:22 AM,3:28:48 PM,3:59:58 PM,4:58:56 AM
359,"Honolulu, Hawaii",2007-05-06,5:43:22 AM,3:28:48 PM,3:59:24 PM,4:59:21 AM
368,"Honolulu, Hawaii",2007-05-07,5:43:22 AM,3:28:48 PM,3:58:51 PM,4:59:47 AM
377,"Honolulu, Hawaii",2007-05-08,5:43:22 AM,3:28:48 PM,3:58:19 PM,5:00:13 AM
386,"Honolulu, Hawaii",2007-05-09,5:43:22 AM,3:28:48 PM,3:57:48 PM,5:00:38 AM
395,"Honolulu, Hawaii",2007-05-10,5:43:22 AM,3:28:48 PM,3:57:18 PM,5:01:04 AM
404,"Honolulu, Hawaii",2007-05-11,5:43:22 AM,3:28:48 PM,3:56:49 PM,5:01:31 AM
413,"Honolulu, Hawaii",2007-05-12,5:43:22 AM,3:28:48 PM,3:56:20 PM,5:01:57 AM
422,"Honolulu, Hawaii",2007-05-13,5:43:22 AM,3:28:48 PM,3:55:53 PM,5:02:23 AM
431,"Honolulu, Hawaii",2007-05-14,5:43:22 AM,3:28:48 PM,3:55:27 PM,5:02:50 AM
440,"Honolulu, Hawaii",2007-05-15,5:43:22 AM,3:28:48 PM,3:55:02 PM,5:03:17 AM
449,"Honolulu, Hawaii",2007-05-16,5:43:22 AM,3:28:48 PM,3:54:38 PM,5:03:43 AM
458,"Honolulu, Hawaii",2007-05-17,5:43:22 AM,3:28:48 PM,3:54:14 PM,5:04:10 AM
467,"Honolulu, Hawaii",2007-05-18,5:43:22 AM,3:28:48 PM,3:53:52 PM,5:04:37 AM
476,"Honolulu, Hawaii",2007-05-19,5:43:22 AM,3:28:48 PM,3:53:31 PM,5:05:03 AM
484,"Honolulu, Hawaii",2007-05-20,5:43:22 AM,3:28:48 PM,3:53:11 PM,5:05:30 AM
492,"Honolulu, Hawaii",2007-05-21,5:43:22 AM,3:28:48 PM,3:52:52 PM,5:05:57 AM
500,"Honolulu, Hawaii",2007-05-22,5:43:22 AM,3:28:48 PM,3:52:34 PM,5:06:23 AM
508,"Honolulu, Hawaii",2007-05-23,5:43:22 AM,3:28:48 PM,3:52:17 PM,5:06:50 AM
515,"Honolulu, Hawaii",2007-05-24,5:43:22 AM,3:28:48 PM,3:52:01 PM,5:07:16 AM
522,"Honolulu, Hawaii",2007-05-25,5:43:22 AM,3:28:48 PM,3:51:46 PM,5:07:43 AM
529,"Honolulu, Hawaii",2007-05-26,5:43:22 AM,3:28:48 PM,3:51:33 PM,5:08:09 AM
536,"Honolulu, Hawaii",2007-05-27,5:43:22 AM,3:28:48 PM,3:51:20 PM,5:08:35 AM
543,"Honolulu, Hawaii",2007-05-28,5:43:22 AM,3:28:48 PM,3:51:08 PM,5:09:00 AM
549,"Honolulu, Hawaii",2007-05-29,5:43:22 AM,3:28:48 PM,3:50:58 PM,5:09:26 AM
555,"Honolulu, Hawaii",2007-05-30,5:43:22 AM,3:28:48 PM,3:50:48 PM,5:09:51 AM
561,"Honolulu, Hawaii",2007-05-31,5:43:22 AM,3:28:48 PM,3:50:39 PM,5:10:16 AM
567,"Honolulu, Hawaii",2007-06-01,5:43:22 AM,3:28:48 PM,3:50:32 PM,5:10:41 AM
573,"Honolulu, Hawaii",2007-06-02,5:43:22 AM,3:28:48 PM,3:50:25 PM,5:11:05 AM
579,"Honolulu, Hawaii",2007-06-03,5:43:22 AM,3:28:48 PM,3:50:20 PM,5:11:29 AM
585,"Honolulu, Hawaii",2007-06-04,5:43:22 AM,3:28:48 PM,3:50:15 PM,5:11:53 AM
591,"Honolulu, Hawaii",2007-06-05,5:43:22 AM,3:28:48 PM,3:50:12 PM,5:12:16 AM
597,"Honolulu, Hawaii",2007-06-06,5:43:22 AM,3:28:48 PM,3:50:09 PM,5:12:39 AM
603,"Honolulu, Hawaii",2007-06-07,5:43:22 AM,3:28:48 PM,3:50:08 PM,5:13:01 AM
609,"Honolulu, Hawaii",2007-06-08,5:43:22 AM,3:28:48 PM,3:50:07 PM,5:13:23 AM
615,"Honolulu, Hawaii",2007-06-09,5:43:22 AM,3:28:48 PM,3:50:08 PM,5:13:44 AM
621,"Honolulu, Hawaii",2007-06-10,5:43:22 AM,3:28:48 PM,3:50:09 PM,5:14:05 AM
627,"Honolulu, Hawaii",2007-06-11,5:43:22 AM,3:28:48 PM,3:50:11 PM,5:14:25 AM
633,"Honolulu, Hawaii",2007-06-12,5:43:22 AM,3:28:48 PM,3:50:15 PM,5:14:45 AM
639,"Honolulu, Hawaii",2007-06-13,5:43:22 AM,3:28:48 PM,3:50:19 PM,5:15:04 AM
645,"Honolulu, Hawaii",2007-06-14,5:43:22 AM,3:28:48 PM,3:50:24 PM,5:15:23 AM
650,"Honolulu, Hawaii",2007-06-15,5:43:22 AM,3:28:48 PM,3:50:30 PM,5:15:40 AM
655,"Honolulu, Hawaii",2007-06-16,5:43:22 AM,3:28:48 PM,3:50:37 PM,5:15:57 AM
660,"Honolulu, Hawaii",2007-06-17,5:43:22 AM,3:28:48 PM,3:50:45 PM,5:16:14 AM
665,"Honolulu, Hawaii",2007-06-18,5:43:22 AM,3:28:48 PM,3:50:53 PM,5:16:29 AM
670,"Honolulu, Hawaii",2007-06-19,5:43:22 AM,3:28:48 PM,3:51:03 PM,5:16:44 AM
675,"Honolulu, Hawaii",2007-06-20,5:43:22 AM,3:28:48 PM,3:51:13 PM,5:16:59 AM
680,"Honolulu, Hawaii",2007-06-21,5:43:22 AM,3:28:48 PM,3:51:24 PM,5:17:12 AM
685,"Honolulu, Hawaii",2007-06-22,5:43:22 AM,3:28:48 PM,3:51:36 PM,5:17:24 AM
690,"Honolulu, Hawaii",2007-06-23,5:43:22 AM,3:28:48 PM,3:51:49 PM,5:17:36 AM
695,"Honolulu, Hawaii",2007-06-24,5:43:22 AM,3:28:48 PM,3:52:02 PM,5:17:47 AM
700,"Honolulu, Hawaii",2007-06-25,5:43:22 AM,3:28:48 PM,3:52:16 PM,5:17:57 AM
705,"Honolulu, Hawaii",2007-06-26,5:43:22 AM,3:28:48 PM,3:52:31 PM,5:18:06 AM
710,"Honolulu, Hawaii",2007-06-27,5:43:22 AM,3:28:48 PM,3:52:46 PM,5:18:14 AM
715,"Honolulu, Hawaii",2007-06-28,5:43:22 AM,3:28:48 PM,3:53:02 PM,5:18:22 AM
720,"Honolulu, Hawaii",2007-06-29,5:43:22 AM,3:28:48 PM,3:53:19 PM,5:18:28 AM
725,"Honolulu, Hawaii",2007-06-30,5:43:22 AM,3:28:48 PM,3:53:36 PM,5:18:34 AM

In [10]:
pd.set_option("display.max_rows",None)

In [18]:
for dawn, dusk in data.loc[data.name == "Honolulu, Hawaii", ["dawn", "dusk"]].values:
    data.dawn = dusk
    data.dusk = dawn

In [ ]:
data

In [16]:
data.loc[data.name == "Honolulu, Hawaii", ["dawn", "dusk"]]

           dawn        dusk
1    4:06:04 PM  5:08:36 AM
11   4:05:08 PM  5:08:55 AM
21   4:04:12 PM  5:09:14 AM
31   4:03:16 PM  5:09:33 AM
41   4:02:20 PM  5:09:52 AM
51   4:01:24 PM  5:10:12 AM
61   4:00:28 PM  5:10:31 AM
71   3:59:33 PM  5:10:51 AM
81   3:58:38 PM  5:11:11 AM
91   3:57:44 PM  5:11:31 AM
101  3:56:49 PM  5:11:52 AM
111  3:55:55 PM  5:12:12 AM
121  3:55:02 PM  5:12:33 AM
131  3:54:09 PM  5:12:54 AM
141  3:53:16 PM  5:13:16 AM
151  3:52:24 PM  5:13:37 AM
161  3:51:32 PM  5:13:59 AM
171  3:50:41 PM  5:14:22 AM
181  3:49:50 PM  5:14:44 AM
191  3:49:00 PM  5:15:07 AM
201  3:48:10 PM  5:15:30 AM
211  3:47:21 PM  5:15:54 AM
221  3:46:33 PM  5:16:17 AM
231  3:45:45 PM  5:16:41 AM
241  3:44:58 PM  5:17:06 AM
251  3:44:12 PM  5:17:31 AM
260  3:43:26 PM  5:17:56 AM
269  3:42:41 PM  5:18:21 AM
278  3:41:57 PM  5:18:46 AM
287  3:41:13 PM  5:19:12 AM
296  3:40:31 PM  5:19:39 AM
305  3:39:49 PM  5:20:05 AM
314  3:39:08 PM  5:20:32 AM
323  3:38:28 PM  5:20:59 AM
332  3:37:49 PM  5:21:26 AM
341  3:37:10 PM  5:21:53 AM
350  3:36:33 PM  5:22:21 AM
359  3:35:56 PM  5:22:49 AM
368  3:35:21 PM  5:23:17 AM
377  3:34:46 PM  5:23:46 AM
386  3:34:12 PM  5:24:14 AM
395  3:33:39 PM  5:24:43 AM
404  3:33:08 PM  5:25:12 AM
413  3:32:37 PM  5:25:41 AM
422  3:32:07 PM  5:26:10 AM
431  3:31:38 PM  5:26:39 AM
440  3:31:10 PM  5:27:08 AM
449  3:30:43 PM  5:27:37 AM
458  3:30:18 PM  5:28:07 AM
467  3:29:53 PM  5:28:36 AM
476  3:29:29 PM  5:29:05 AM
484  3:29:07 PM  5:29:34 AM
492  3:28:45 PM  5:30:03 AM
500  3:28:25 PM  5:30:33 AM
508  3:28:06 PM  5:31:01 AM
515  3:27:47 PM  5:31:30 AM
522  3:27:30 PM  5:31:59 AM
529  3:27:14 PM  5:32:27 AM
536  3:26:59 PM  5:32:55 AM
543  3:26:45 PM  5:33:23 AM
549  3:26:33 PM  5:33:51 AM
555  3:26:21 PM  5:34:18 AM
561  3:26:10 PM  5:34:45 AM
567  3:26:01 PM  5:35:12 AM
573  3:25:52 PM  5:35:38 AM
579  3:25:45 PM  5:36:04 AM
585  3:25:39 PM  5:36:29 AM
591  3:25:34 PM  5:36:54 AM
597  3:25:30 PM  5:37:18 AM
603  3:25:27 PM  5:37:42 AM
609  3:25:25 PM  5:38:05 AM
615  3:25:24 PM  5:38:28 AM
621  3:25:24 PM  5:38:50 AM
627  3:25:26 PM  5:39:11 AM
633  3:25:28 PM  5:39:32 AM
639  3:25:31 PM  5:39:52 AM
645  3:25:36 PM  5:40:11 AM
650  3:25:41 PM  5:40:30 AM
655  3:25:47 PM  5:40:47 AM
660  3:25:54 PM  5:41:04 AM
665  3:26:03 PM  5:41:20 AM
670  3:26:12 PM  5:41:36 AM
675  3:26:22 PM  5:41:50 AM
680  3:26:33 PM  5:42:04 AM
685  3:26:44 PM  5:42:16 AM
690  3:26:57 PM  5:42:28 AM
695  3:27:11 PM  5:42:39 AM
700  3:27:25 PM  5:42:48 AM
705  3:27:40 PM  5:42:57 AM
710  3:27:56 PM  5:43:05 AM
715  3:28:13 PM  5:43:12 AM
720  3:28:30 PM  5:43:17 AM
725  3:28:48 PM  5:43:22 AM

In [5]:
from google.oauth2 import service_account
import pandas_gbq

credentials = service_account.Credentials.from_service_account_file(
    '/home/steph/Desktop/awesome-highway-358007-5eb23d1d599f.json',
)

In [6]:
table_schema = [{'name': 'location_name', 'type': 'STRING'}, 
               {'name': 'date', 'type': 'DATE'},
               {'name': 'time_of_dawn', 'type': 'STRING'},
               {'name': 'time_of_dusk', 'type': 'STRING'},
               {'name': 'time_of_sunrise', 'type': 'STRING'},
               {'name': 'time_of_sunset', 'type': 'STRING'},
               ]

In [7]:
data.to_gbq("Daily_plan.Vaimo", "awesome-highway-358007", 
            credentials=credentials, table_schema=table_schema)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 7397.36it/s]